@import "tailwindcss";
@plugin "daisyui";

html,
body {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* CodeMirror */
.cm-editor {
  flex: 1;
  height: 100%;
}

.cm-content {
  padding: 8px 12px 32px !important;
  max-width: none !important;
  margin-inline: 0 !important;
  padding-inline: 12px !important;
}
